# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMSSW top level stuff
.SCRAM
bin/
cfipython/
config/
doc/
external/
include/
lib/
logs/
objs/
python/
test/  
tmp/

*~

*.pyc
